
.backgroundImage{
    -fx-background-color: #430c4bD5;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.contactBtn{
    -fx-background-color: #430c4bD5;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.contactBtn:disable{
    -fx-background-color: #430c4bD5;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.contactBtn:hover{
    -fx-background-color: #60196bd5;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.contactBtn:pressed{
    -fx-background-color: #330a3ad5;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.contactBtn:selected{
    -fx-background-color: #153353;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.requestBtn{
    -fx-background-color: #0269c9D5;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.requestBtn:hover{
    -fx-background-color: #4654c0d5;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.requestBtn:pressed{
    -fx-background-color: #3a48a3d5;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.requestCancelBtn{
    -fx-background-color: #ED4B51D5;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.requestCancelBtn:hover{
    -fx-background-color: #da3e44d5;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.requestCancelBtn:pressed{
    -fx-background-color: #BC2C31D5;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}
