
.pendingFriendStatus{
    -fx-background-color: #f84a1f;
    -fx-text-fill: #dddddd;
    -fx-background-radius: 15px;
}

.declinedFriendStatus{
    -fx-background-color: #BC2C31;
    -fx-text-fill: #dddddd;
    -fx-background-radius: 15px;
}

.acceptedFriendStatus{
    -fx-background-color: #17c5a6;
    -fx-text-fill: #dddddd;
    -fx-background-radius: 15px;
}

.requestedFriendStatus{
    -fx-background-color: #0269c9;
    -fx-text-fill: #dddddd;
    -fx-background-radius: 15px;
}

